* {
    font-family: SansSerif, sans-serif;
    user-select: none;
    z-index: 2;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin:0;
    background: linear-gradient(to right, #00c3ff, #ffff1c);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

img {
    border:0;
    width: 100%;
    height: 100%;
    margin:auto;
    position: relative;
    visibility: hidden;
}

img[alt="img"] {
    width: 50%;
    height: 60%;
    visibility: visible;
}

#setts {
    width: 15%;
    height: 40%;
}

#main_frame {
    position: relative;
    height: 80%;
    width: 65%;
    background: rgba(148, 119, 62, 0.3);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    border-radius: 10%;
    z-index: 2;
}

#main_frame:hover {
    cursor: url('images/cursor1.png') 2 2, auto;
}

#main_frame > img:active {
    cursor: url('images/cursor2.png') 2 2, auto;
}

#time {
    height: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.time {
    font-size: 65pt;
    float: right;
}

#points {
    height: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.points {
    font-size: 65pt;
    float: right;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
    z-index: 1;
}

#start > div > span {
    font-size: 120pt;
    font-family: 'Cifra';
    position: absolute;
    visibility: hidden;
    margin-top:-7%;
}

.schet3 {
    animation: otschet 1s;
    animation-delay: 0s;
}

.schet2 {
    animation: otschet 1s;
    animation-delay: 1s;
}

.schet1 {
    animation: otschet 1s;
    animation-delay: 2s;
}

.schetGO {
    animation: otschet 1s;
    animation-delay: 3s;
    left: 42%;
}

@keyframes otschet {
    0% {
        transform: scale(0);
        animation-timing-function: ease-out;
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 0;
        visibility: hidden;
    }
}

#end {
    display: flex;
    justify-content: center;
    align-items: center;
    background: mediumseagreen;
    border-radius: 5%;
    width: 80%;
    height: 80%;
    position: absolute;
    visibility: hidden;
    z-index: 3;
}

#end > div {
    white-space: nowrap;
    font-size: 60pt;
    text-align: center;
}

button {
    width: 80%;
    height: 70px;
    font-size: 30pt;
    outline: none;
    background: white;
}

button:hover {
    background: white;
}

button:active {
    background: saddlebrown;
}

@font-face {
    font-family: 'Cifra';
    src: url(fonts/full-Pack-2025.ttf);
}